pds/*
*.car

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
build

.env
.env.*

# Github
.git
.github
pds-migration
coverage

# Tests
test
bin
jest.config.js
jest-puppeteer.config.js
vitest.config.ts
eslint.config.js

# Docker and docs
Dockerfile
docker-compose.yaml
docker-compose.prod.yaml
README.md
LICENSE
